body, html {
  margin: 0;
  padding: 0px;
  height: 100%;
  


}




.contenedor {
  width: 100%;

  border: solid 5px grey;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: white;
  border-radius: 0 0 15px 20px;
  background-color: rgb(32, 30, 30);
  display: flex;
  
}

.ctititle {

  width: 30%;
  justify-content: left;
  
  
  

}



  
  .cbistro {

    height: 150px;
    width: 30%;
    display: flex;
    
  

  }
  .bistro {
    
    justify-items: center;
  }

 
.logo {

  
   height: 150px;
   width: auto;
  margin-left: 1.5vw;
  justify-content: right;
}

.ctextbienvenida{

  margin: 50px;
}


.text {


  font-family: cursive;
  font-size: 25px;
}



.acciones {

  width: 40%;
  display: flex;
  

}

.cartelera {
  
  display: flex; 
  display: grid;
  font-size: 1.7vw;
  color: white;
  font-family: cursive;
  align-items: center;
  justify-items: center;
  width: 50%;
 

}


.sobrenosotros {
  display: flex;
  display: grid;
  font-size: 1.7vw;
  align-items: center;
  color: white;
  font-family: cursive;
  width: 50%;
  justify-items: center;
  align-items: center;

  
}


a {

  text-decoration: none;
  color: inherit;
}




.todobistro {
  display: flex;
  background-image: url(fondo_cinema_bistro.jpg);
  justify-content: center;
  
}


.dbistro {

  width: 50%;
}
.butacabistro {
  
  display: flex;
  display: grid;
  width: 95%;
  justify-content: center;
  justify-items: center;


}

.cinemabistrobutaca {

  width: 50%;

}





.cbdoradof {
  display: grid;
  justify-items: center;
  width: 95%;
  
}